{% extends 'base.html.twig' %}

{% block title %}Login — CosmoScop{% endblock %}

{% block body %}
<main aria-label="User login form">
    <h1 class="h1-registration">Connexion</h1>

    {% if error %}
        <div style="color: red; margin-bottom: 15px;">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}" aria-label="Login form">
        <div>
            <label for="username">Email :</label>
            <input type="email"
                   name="_username"
                   id="username"
                   class="form-control"
                   value="{{ last_username }}"
                   required
                   aria-label="Email">
        </div>

        <div>
            <label for="password">Mot de passe :</label>
            <input type="password"
                   name="_password"
                   id="password"
                   class="form-control"
                   required
                   aria-label="Mot de passe">
        </div>

        {# Protection CSRF automatique de symfo #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="centered-container">
            <button type="submit" class="btn" aria-label="Se connecter à votre compte">Se connecter</button>
        </div>
    </form>
</main>
{% endblock %}
