<footer class="footer">
        <div class="footer-content">
            <a href="https://dearrlo.github.io/Portfolio/" target="_blank" title="Portfolio">
               <i class="fab fa-github fa-inverse"></i>
            </a>
            <p class="footer-text">&copy; 2025 — All rights reserved.</p>
        </div>
    </footer>