{% extends 'base.html.twig' %}

{% block title %}About CosmoScop & GDPR{% endblock %}

{% block body %}
<main>
    <section class="main-container">
        <div class="about-us">
            <h1 class="h1-dashboard">About the project</h1>
            <p>
                I'm a passionate web developer.<br>
                I've always been fascinated by the universe. Its mysteries and that awesome feeling of being just a small dot in something so much greater... it's both soothing and inspiring.
When I started learning development, I knew I wanted to build a project that reflect who I am — something with meaning, something that tells a story.

CosmoScop is the result of that desire to blend technology with imagination.
It's an educational platform, but also an invitation to wonder.
I wanted visitors not only to learn but to feel a bit of that spark I get when I think of Jupiter, the shadow of Saturn's rings, or the dream of future missions to Mars.

This project allowed me to apply technical skills (back-end, front-end, 3D, responsive design…), while staying anchored to a strong narrative: making space exploration accessible, beautiful, and poetic.
            </p>
        </div>

        <div class="about-us">
            <h1 class="h1-dashboard">Legal Notice & GDPR Compliance</h1>

            <p class="strong">
                This website is published and maintained by @DearLo, a private individual, as part of a personal and educational web development project. The website is hosted by Railway.app.
                No personal data is collected for commercial purposes. Any data collected is strictly used for communication and will never be shared with third parties. Only essential cookies are used for technical and functional needs. No advertising or tracking cookies are installed.
            </p>

            <p>
                In accordance with the General Data Protection Regulation (GDPR), you have the right to access, rectify or delete your personal data at any time. To exercise these rights, please use the contact form available on the site.
                This website may contain links to third-party content. I am not responsible for the content or privacy practices of these external websites.
            </p>
        </div>
    </section>
</main>
{% endblock %}
