{% extends 'base.html.twig' %}

{% block title %}About CosmoScop & GDPR{% endblock %}

{% block body %}
<main>
    <section class="main-container">
        <div class="about-us">
            <h1 class="h1-dashboard">About the project</h1>
            <p>
                I’m a passionate web developer.<br>
                BLABLA BLABLA
            </p>
        </div>

        <div class="about-us">
            <h2>Legal Notice & GDPR Compliance</h2>

            <p class="strong">
                This website is published and maintained by @DearLo, a private individual, as part of a personal and educational web development project. The website is hosted by [TO COMPLETE].
            </p>

            <p>
                No personal data is collected for commercial purposes. Any data collected is strictly used for communication and will never be shared with third parties. Only essential cookies are used for technical and functional needs. No advertising or tracking cookies are installed.
            </p>

            <p>
                In accordance with the General Data Protection Regulation (GDPR), you have the right to access, rectify or delete your personal data at any time. To exercise these rights, please use the contact form available on the site.
                This website may contain links to third-party content. I am not responsible for the content or privacy practices of these external websites.
            </p>
        </div>
    </section>
</main>
{% endblock %}
