{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <section class="about-us">
        <h1>About CosmoScop</h1>
        <p>Welcome to CosmoScop! Our mission is to provide the latest and most accurate information about space, planetary science, and upcoming space missions.</p>
    </section>
{% endblock %}
