{% extends 'base.html.twig' %}

{% block title %}Add a new actuality{% endblock %}

{% block body %}
    <h1 class="h1-dashboard">Add a new actuality</h1>

    {{ form_start(form, {'attr': { 'aria-label': 'Add actuality form' }}) }}
        {{ form_widget(form) }}
        <button type="submit" aria-label="Submit the form to create a new actuality">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_actuality_index') }}" aria-label="Return to the list of actualities">← Back to list</a>
{% endblock %}
